.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .centered2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


  a:link{
    text-decoration: none;
    color: white;
  }

  h1{
    font-family: cursive;
  }

  .nav-btn{
    margin-left: auto 5em;
  }

  @media only screen and (max-width :400px){
.image{
  width: 100%;
}


}




 